.keys
	.key(data-key='65')
		kbd A
		span.sound clap
	.key(data-key='83')
		kbd S
		span.sound hihat
	.key(data-key='68')
		kbd D
		span.sound kik
	.key(data-key='70')
		kbd F
		span.sound openhat
	.key(data-key='71')
		kbd G
		span.sound boom
	.key(data-key='72')
		kbd H
		span.sound ride
	.key(data-key='74')
		kbd J
		span.sound snare
	.key(data-key='75')
		kbd K
		span.sound tom
	.key(data-key='76')
		kbd L
		span.sound tink

audio(data-key="83" src="assets/sounds/hihat.wav")
audio(data-key="65" src="assets/sounds/clap.wav")
audio(data-key="68" src="assets/sounds/kick.wav")
audio(data-key="70" src="assets/sounds/openhat.wav")
audio(data-key="71" src="assets/sounds/boom.wav")
audio(data-key="72" src="assets/sounds/ride.wav")
audio(data-key="74" src="assets/sounds/snare.wav")
audio(data-key="75" src="assets/sounds/tom.wav")
audio(data-key="76" src="assets/sounds/tink.wav")
